* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;

  align-items: center;
  padding: 6px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 400;
}
a {
  text-decoration: none;

  color: #e1e1e1;
}
p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  pad: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background: royalblue;
  color: white;
  padding: 8 30px;
  margin: 30px 0;
  transition: background 0.5s;
}
.btn:hover {
  background: #555;
}
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.header .row {
  margin-top: 20px;
}
.categories {
  margin: 0px 0 20px 0;
}

.col-3 {
  flex-basis: 30%;
  /*flex-basis: 30%;*/
  min-width: 250px;
  margin-bottom: 30px;
}
.categories .col-3 {
  flex-basis: 100%;
}
.col-3 img {
  width: 100%;
}
.small-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.col-4:hover {
  /*transform: translateY(-5px);*/
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.row .col-4 p {
  color: #555;
}

.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #555;
}

.brand {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover {
  filter: grayscale(0);
}
/*Footer*/
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.offer .col-2 p {
  color: #555;
}
/*Single Product*/
.single-product {
  margin-top: 10px;
}
.single-product .col-2 img {
  padding: 0;
}
.single-product .col-2 {
  padding: 20px;
}
.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #555;
}
input:focus {
  outline: none;
}
.categories .small-container .row row-2 h2 {
  padding-bottom: 5px;
}
nav .dropdown ul li {
  height: 50px;
  align-items: center;
  display: flex;

  padding: 30px;
  margin-right: 0.5px;
}
.dropdown ul li a {
  text-align: center;
}

nav ul li:hover .dropdown {
  background: #555;
  display: block;
  border-radius: 5px;
  position: absolute;
}
.dropdown {
  display: none;
}
.dropdown ul li:hover {
  border-radius: 5px;
  background-color: brown;
}
#nav1 {
  position: fixed;
  padding: 10px;
  width: 120px;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
#ul1 {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}
.colortext_1 {
  color: #283747;
}
.colortext_2 {
  color: #283747;
}
.colortext_3 {
  color: #283747;
}
.colortext_4 {
  color: #283747;
}
.li_1 {
  padding: 10px;
  border-bottom: 1px solid #000;
}
#ul1 .li_1 .colortext_1:hover {
  color: red;
}
#ul1 .li_1 .colortext_2:hover {
  color: black;
}
#ul1 .li_1 .colortext_3:hover {
  color: orange;
}
#ul1 .li_1 .colortext_4:hover {
  color: blue;
}
